.App {
  text-align: center;
}

.header-container{
  text-align:center;
}

.section-container{
  margin:40px;
  background-color: white;
  padding:20px;
  border-radius:20px;
}

textarea{
  width:100%;
  height:250px;
  border: 1px solid #ced4da;
  font-size:17px;
}

textarea:focus{
  outline:none;
}
/* App.css */
.container {
  background-color: #FFFFFF;
  background-image: linear-gradient(147deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);

  min-height: 100vh; 
  overflow: hidden; 
}


.btn-convert {
  background-color: #5095f8;
  border: 1px solid #5095f8;
  color: #fff;
  padding: 14px;
  width: 30vw;
  border-radius: 10px;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-convert:hover {
  background-color: #4072b8;
  transform: scale(1.05);
  font-size:16px;

}

.section-buttons{

  display:flex;
  align-items: center;
  gap:20px;

}

.btn-convert {
  background-color: #5095f8;
  border: 1px solid #5095f8;
  color: #fff;
  padding: 14px;
  width: 30vw;
  border-radius: 10px;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.2s;
}


select{
  height:45px;
  padding: 0 20px;
  width:30vw;
  border-radius:35px;
}
